


body {
	margin: 0;
	padding: 0;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #5b46af;

	background-repeat:repeat-x;
}
/**
{
  margin: 0 auto 0 auto;
 text-align:left;}*/

#container
{
max-width: 960px;
min-width: 320px;
  display: block; 
  height:auto;
  position: relative; 
  width: 960px;
  background-color: #fff;
}

#headpic
{
background-image: url(../images/fortune.jpg);
background-repeat:no-repeat;
background-color: #000;
width: 960px;
height:200px;	
}


#headpic h1
{
position:absolute;
text-align:right;

font-size:36px;
color:#FFF;	
left:550px;
top:100px;
}

#content
{
/*width:960px;*/
height:auto;
background-color:#FFF;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
}






#menu
{
background-image:url();
background-repeat:no-repeat;
width:940px;
height:69px;
float:left;
clear:both;
}

/*---------------------------
FOOTER
-----------------------------*/

footer {
	max-width: 960px;
	min-width: 320px;
	font-family: Tahoma, Geneva, sans-serif;
	color: white;
	width: 100%;
	clear: both;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #040D3F;
}
footer p {
	text-align: center;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:960px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

#menu a:hover{
	color:#BAD1F3;
	background: url(file:///C|/Users/manuel/AppData/Local/Temp/Temp1_nightbeach.zip/nightbeach/images/menuhov.jpg) no-repeat;
}




p {text-align: left;}